html {
  background-color: grey;
  color: white;
  text-align: center;
  font-family: cursive;
}

h1 {
  font-size: 100px;
}

#image {
  display: none;
}

#image:target {
  display: block;
}

div {
  display: flex;
  justify-content: center;
}

div img {
  border: 2px solid; white;
  height: 500px;
  margin-right: 25px;
}
