html {
  background-color: grey;
  color: white;
  text-align: center;
  font-family: cursive;
}

h1 {
  font-size: 100px;
}

div {
  display: flex;
  justify-content: center;
  border: 2px dashed white; 
}

div img {
  border: 2px solid white;
  height: 500px;
  margin-top: 25px;
  margin-bottom: 25px;
}
